.page-container {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
  
  .page-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin: 8px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .page-button:hover {
    background-color: #0056b3;
  }
  
  .page-message {
    font-size: 20px;
    margin-top: 16px;
  }
  
  